<li id="annotation-{{id}}" style="{{status}}" data-fingerprint={{fingerprint}}>
  <ul class="addon-container">
    <li><h3>{{name}}</h3></li>
    {{#each rows}}
      <li>
      {{#each this}}
        {{#hasKey this "_image"}}
          {{#each this}}
            {{#hasKey this "href"}}
            <a href="{{{href}}}" style="border: none;text-decoration: none;"><img src="{{{url}}}" alt="{{text}}" /></a>
            {{else}}
              <img src="{{{url}}}" alt="{{text}}" />
            {{/hasKey}}
          {{/each}}
        {{/hasKey}}
        {{#hasKey this "_link"}}
          {{#isArray this}}
            {{#each this}}
              <a href="{{{url}}}">{{text}}</a>{{#unless @last}},{{/unless}}
            {{/each}}
          {{else}}
            <a href="{{{url}}}">{{text}}</a>
          {{/isArray}}
        {{/hasKey}}
        {{#hasKey this "_text"}}
          <span>{{{text}}}</span>
        {{/hasKey}}
      {{/each}}
      </li>
    {{/each}}
  </ul>
</li>
