<li id="annotation-{{id}}" style="{{status}}" data-fingerprint={{fingerprint}}>
  <ul class="addon-container">
    <li><h3>{{name}}</h3></li>
    {{#each rows}}
      <li>
        {{#hasKey this "image"}}
          <img src="{{{image.url}}}" alt="{{image.text}}" />
        {{/hasKey}}
        {{#hasKey this "link"}}
        {{#isArray this "link"}}
        {{#each link}}
          <a href="{{{url}}}">{{text}}</a>{{#unless @last}},{{/unless}}
        {{/each}}
        {{else}}
          <a href="{{{link.url}}}">{{link.text}}</a>
        {{/isArray}}
        {{/hasKey}}
          {{#hasKey this "text"}}
            <span>{{{text}}}</span>
          {{/hasKey}}
       </li>
     {{/each}}
  </ul>
</li>
