<li id="annotation-{{id}}" style="{{status}}" data-fingerprint={{fingerprint}}>
  <ul class="addon-container">
    <li><h3>{{name}}</h3></li>
    {{#each rows}}
      <li>
      {{#each this}}
        {{#isArray this}}
          {{#each this}}
            <a href="{{{url}}}">{{text}}</a>{{#unless @last}},{{/unless}}
          {{/each}}
        {{/isArray}}
        {{#hasKey this "_image"}}
          <img src="{{{url}}}" alt="{{text}}" />
        {{/hasKey}}
        {{#hasKey this "_link"}}
          <a href="{{{url}}}">{{text}}</a>
        {{/hasKey}}
        {{#hasKey this "_text"}}
          <span>{{{text}}}</span>
        {{/hasKey}}
      {{/each}}
      </li>
    {{/each}}
  </ul>
</li>
